/.DueloDeLeyendasModel.java._trace
/.EstadisticasRep.java._trace
/.PersonajePuntaje.java._trace
/.PersonajeRep.java._trace
/.RepoWeb.java._trace
/.DueloDeLeyendasModel.xtendbin
/.EstadisticasRep.xtendbin
/.PersonajePuntaje.xtendbin
/.PersonajeRep.xtendbin
/.RepoWeb.xtendbin
/DueloDeLeyendasModel.java
/EstadisticasRep.java
/PersonajePuntaje.java
/PersonajeRep.java
/RepoWeb.java
