/.DueloConBot.java._trace
/.RealizadorDuelo.java._trace
/.ResultadoDuelo.java._trace
/.DueloConBot.xtendbin
/.RealizadorDuelo.xtendbin
/.ResultadoDuelo.xtendbin
/DueloConBot.java
/RealizadorDuelo.java
/ResultadoDuelo.java
