/.SistemaDeDuelosTestCase.java._trace
/.SistemaDeDuelosXTestCase.java._trace
/.SistemaDeDuelosTestCase.xtendbin
/.SistemaDeDuelosXTestCase.xtendbin
/SistemaDeDuelosTestCase.java
/SistemaDeDuelosXTestCase.java
