<div class="estadisticas">
			<table class="tablaStats">
				<tr class ="especialidades">
					<th>Especialidades:</th>
					<td><div class="col-md-12 " ng-repeat="hab in personajeActual.especialidades">{{hab}}</font></div></td>
				</tr>
				<tr class ="especialidades"> 
					<th>Debilidades:</th>
					<td ng-repeat="deb in personajeActual.debilidades">{{deb}}</td>
				</tr>
				<tr class ="especialidades">
					<th>Mejor posición:</th>
					<td>{{personajeActual.posicionIdeal}}</td>
				</tr>
			</table>
			</div>