/.CrearDenunciaWindow.java._trace
/.DenunciaInvalidaWindow.java._trace
/.DenunciaValidaWindow.java._trace
/.DueloDeLeyendasWindow.java._trace
/.NoHayRivalWindow.java._trace
/.ResultadoDueloWindow.java._trace
/.CrearDenunciaWindow.xtendbin
/.DenunciaInvalidaWindow.xtendbin
/.DenunciaValidaWindow.xtendbin
/.DueloDeLeyendasWindow.xtendbin
/.NoHayRivalWindow.xtendbin
/.ResultadoDueloWindow.xtendbin
/CrearDenunciaWindow.java
/DenunciaInvalidaWindow.java
/DenunciaValidaWindow.java
/DueloDeLeyendasWindow.java
/NoHayRivalWindow.java
/ResultadoDueloWindow.java
