/.AbusoDelSistemaDeDenuncias.java._trace
/.AbusoHabilidad.java._trace
/.ComunicacionAbusiva.java._trace
/.Denuncia.java._trace
/.FeedIntencional.java._trace
/.MotivoDenuncia.java._trace
/.AbusoDelSistemaDeDenuncias.xtendbin
/.AbusoHabilidad.xtendbin
/.ComunicacionAbusiva.xtendbin
/.Denuncia.xtendbin
/.FeedIntencional.xtendbin
/.MotivoDenuncia.xtendbin
/AbusoDelSistemaDeDenuncias.java
/AbusoHabilidad.java
/ComunicacionAbusiva.java
/Denuncia.java
/FeedIntencional.java
/MotivoDenuncia.java
